.index{
    text-align: right;
    padding-right: 10px;
}

.filename{

}

.actions{
    width: 20px;
    text-align: right;
}

.loader{
	width: 300px;
	height: 200px;
	background: url('/ajax-loader.gif') no-repeat center center;
}